<!-- main app layout -->
<div layout="row" flex ng-if="nbgenApp.requiredResourcesLoaded === true">
    <div layout="column">
        <md-sidenav class="md-sidenav-left" md-component-id="left-sidenav" md-whiteframe="2"
            layout="column" md-is-locked-open="nbgenApp.$mdMedia('gt-sm')" flex>
            <!-- left-side navigator -->
            <md-toolbar flex="none" layout="column" layout-align="start start">
                <md-button class="md-icon-button nbgen-no-focus"
                    aria-label="Menu" hide-gt-sm
                    ng-click="nbgenApp.toggleSidenav('left-sidenav')"
                    style="position: absolute; top: 0; left: 0;"
                    >
                    <md-icon md-font-icon="mdi-arrow-left" class="mdi"></md-icon>
                </md-button>
                <p class="text-center text-fullwidth">
                    <img ng-src="{{nbgenApp.$config.applicationLogo}}" style="height: 54px; width: 192px" />
                </p>
            </md-toolbar>
            <md-content layout="column" flex>
                <!-- application menu -->
                <nbgen-side-menu menu-schema="nbgenApp.nbgenAppMenu"
                    filter-fn="nbgenApp.checkMenuItemAccess"
                    sidenav-id="left-sidenav"
                    >

                </nbgen-side-menu>
            </md-content>
            <md-toolbar flex="none" layout="column" layout-align="center center" class="nbgen-support-toolbar md-hue-1">
                <span class="md-caption" translate="nbgenApp.labels.poweredBy"></span>
            </md-toolbar>
        </md-sidenav>
    </div>
    <div layout="column" flex
        style="background: url('{{nbgenApp.$config.applicationBg}}') no-repeat left / cover"
        >
        <md-toolbar class="nbgen-main-toolbar" layout="column" flex="none" md-whiteframe="1">
            <div layout="row" layout-align="start center" flex>
                <!-- activate menu when screen is small -->
                <md-button class="md-icon-button nbgen-no-focus"
                    aria-label="Menu" hide-gt-sm
                    ng-click="nbgenApp.toggleSidenav('left-sidenav')"
                    >
                    <md-icon md-font-icon="mdi-menu" class="mdi"></md-icon>
                </md-button>
                <div layout="row" layout-align="space-between center" flex>
                    <div layout="row" layout-align="start center" flex
                        layout-xs="column" layout-align-xs="center start">
                        <div layout="row" class="text-ellipsis">
                            <span hide-sm hide-xs>&nbsp;&nbsp;</span>
                            <span id="nbgenTitleArea" class="text-ellipsis">
                                <!-- title area -->
                            </span>
                        </div>
                        <div layout="row" id="nbgenSearchArea" flex>
                            <!-- search area -->
                        </div>
                    </div>
                </div>
                <div layout="row" layout-align="end center">
                    <div class="md-caption" id="tmvDataInfo">
                        <!-- additional data info -->
                    </div>
                    <div id="nbgenActionArea" layout="row" layout-align="end center">
                        <!-- action area -->
                    </div>
                    <div id="nbgenAccountArea" layout="row" layout-align="end center">
                        <!-- account area -->
                        <md-button class="md-icon-button nbgen-no-focus"
                            aria-label="Login"
                            ng-click="nbgenApp.gotoLogin()"
                            ng-if="!nbgenApp.$identityService.isAuthenticated()"
                            nbgen-icon="mdi-login"
                            nbgen-label="tx:global.common.signIn"
                            >
                        </md-button>
                        <md-menu ng-if="nbgenApp.$identityService.isAuthenticated()" md-position-mode="target-right target">
                            <md-button ng-click="$mdOpenMenu($event)" class="md-icon-button"
                                nbgen-no-focus aria-label="Account">
                                <span ng-bind-html="nbgenApp.$authUiService.getUserAvatar()"></span>
                            </md-button>
                            <md-menu-content width="4">
                                <md-menu-item>
                                    <div>
                                    <span ng-bind-html="nbgenApp.$authUiService.getUserAvatar()"></span>&nbsp;
                                    <span class="md-body-1">{{nbgenApp.$identityService.user().profile.name}}</span>
                                    </div>
                                </md-menu-item>
                                <md-divider></md-divider>
                                <md-menu-item>
                                    <md-button nbgen-icon="mdi-settings-box" nbgen-label="tx:global.menu.accountSettings"
                                        ng-click="nbgenApp.$authUiService.userSettings()">
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button nbgen-icon="mdi-key-variant" nbgen-label="tx:global.menu.password"
                                        ng-click="nbgenApp.$authUiService.changePassword()">
                                    </md-button>
                                </md-menu-item>
                                <md-menu-item>
                                    <md-button nbgen-icon="mdi-logout" nbgen-label="tx:global.menu.logout"
                                        ng-click="nbgenApp.performLogout()">
                                    </md-button>
                                </md-menu-item>
                            </md-menu-content>
                        </md-menu>
                    </div>
                    <md-button class="md-icon-button nbgen-no-focus"
                        aria-label="Menu" hide-gt-lg
                        ng-click="nbgenApp.toggleSidenav('right-sidenav')"
                        >
                        <md-icon md-font-icon="mdi-chevron-left" class="mdi"></md-icon>
                    </md-button>
                </div>
            </div>
        </md-toolbar>
        <div layout="row" layout-align="start center" id="tmvSecondaryToolbar"
            class="tmv-hide-small-height" flex="none" flex-order-xs="1">
        </div>
        <md-content layout="column" flex
            id="nbgenAppContent" class="transparent"
            >
            <div id="nbgenFloatingButtonArea"></div>
            <md-content class="transparent anim-in-out anim-fade"
                data-anim-speed="500" data-anim-sync="true"
                ui-view="content" id="nbgenApplicationContent"
                >
                <!-- the main content will be put here -->
            </md-content>
        </md-content>
    </div>
    <div layout="column">
        <md-sidenav class="md-sidenav-right" md-component-id="right-sidenav" md-whiteframe="2"
            layout="column" md-is-locked-open="nbgenApp.$mdMedia('gt-lg')" flex>
            <!-- right-side navigator -->
            <md-toolbar flex="none" layout="column" layout-align="start center">
                <md-button class="md-icon-button nbgen-no-focus"
                    aria-label="Misc" hide-gt-lg
                    ng-click="nbgenApp.toggleSidenav('right-sidenav')"
                    style="position: absolute; top: 0; right: 0;"
                    >
                    <md-icon md-font-icon="mdi-chevron-right" class="mdi"></md-icon>
                </md-button>
                <p layout="column" layout-align="center center">
                    <span class="md-subhead" translate="nbgenApp.labels.needHelp"></span>
                    <nbgen-contacthd class="md-caption"></nbgen-contacthd>
                </p>
            </md-toolbar>
            <div layout="column" flex>
                <!-- announcement -->
                <md-subheader class="md-no-sticky text-center">
                    <span class="md-subhead" translate="nbgenApp.labels.announcement"></span>
                </md-subheader>
                <md-divider></md-divider>
                <md-content layout="column" flex>
                    <!-- announcement content -->
                    <nbgen-announcement></nbgen-announcement>
                </md-content>
            </div>
            <md-toolbar flex="none" layout="column" layout-align="center center" class="nbgen-support-toolbar md-hue-1">
                <span class="md-caption" translate="nbgenApp.labels.termsOfUse"></span>
            </md-toolbar>
        </md-sidenav>
    </div>
</div>
<div layout="row" flex ng-if="nbgenApp.requiredResourcesLoaded === false">
    <md-subheader class="md-no-sticky md-warn">
        <span class="md-subhead">Sorry! The app is unable to load required resources.</span>
    </md-subheader>
</div>
