<div layout="colum" class="tmv-mobile-width">
    <!-- template for the component -->
    <div>
        <form name="editForm" novalidate="" layout="column">
            <tmv-form form-schema="nbgenSignup.$config.form" form-model="nbgenSignup.formModel"></tmv-form>
            <div>&nbsp;</div>
            <md-button nbgen-label="tx:global.common.signUp" class="signup-btn"
                ng-click="nbgenSignup.performSignup()"
                type="submit"
                ng-disabled="editForm.$invalid"
                >
            </md-button>
            <div layout="row" layout-align="center center">
                <span translate="global.login.haveAnAccount"></span>
                <md-button nbgen-label="tx:global.common.signIn"
                    ng-click="nbgenSignup.nbgenApp.gotoLogin()"
                    >
                </md-button>
            </div>
        </form>
        <div>
            <p>&nbsp;</p>
            <nbgen-social-signin></nbgen-social-signin>
        </div>
    </div>
</div>
