<md-content class="transparent full-window" md-theme="dark" layout="column" layout-align="center center" flex>
    <nbgen-put on-title>
        <span translate="nbgenLogin.labels.title"></span>
    </nbgen-put>
    <div layout="column" class="tmv-mobile-width">
        <div>
            <form name="editForm" novalidate="" layout="column">
                <tmv-form form-schema="nbgenLogin.$config.form" form-model="nbgenLogin.formModel"></tmv-form>
                <div>&nbsp;</div>
                <md-button nbgen-label="tx:global.common.signIn" class="signin-btn"
                    ng-click="nbgenLogin.performLogin()"
                    type="submit"
                    ng-disabled="editForm.$invalid"
                    >
                </md-button>
                <div layout="row" layout-align="space-between start">
                    <span>
                        <md-button nbgen-label="tx:global.common.forgotPassword"
                            ng-click="nbgenLogin.forgotPassword()"
                            >
                        </md-button>
                    </span>
                    <span>
                        <md-button nbgen-label="tx:global.common.signUp"
                            ng-click="nbgenLogin.nbgenApp.gotoSignup()"
                            >
                        </md-button>
                    </span>
                </div>
            </form>
            <p>&nbsp;</p>
            <nbgen-social-signin layout="column" layout-align="stretch"></nbgen-social-signin>
            <p>&nbsp;</p>
        </div>
    </div>
</md-content>
