<nbgen-put on-title>
    <span translate="nbgenMain.labels.title"></span>
</nbgen-put>
<md-content class="transparent full-window" md-theme="dark" layout="column" layout-align="center center">
    <div layout="column" layout-align="center center" class="tmv-anim" ng-if="!nbgenMain.isAuthenticated()">
        <!-- this is what's displayed when not authenticated -->
        <div layout="column" class="tmv-box-content">
            <div class="text-padding">
                <div>
                    <div class="slogan1 md-body-1" translate="nbgenMain.labels.slogan1"></div>
                    <div class="slogan2 md-body-2" translate="nbgenMain.labels.slogan2"></div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div>
                <div>
                    <!-- display buttons for sign-in and sign-up -->
                    <div layout-gt-sm="row" layout-align-gt-sm="space-around center"
                         layout="column" layout-align="center">
                        <md-button class="nbgen-big-button"
                            nbgen-label="tx:global.common.signIn"
                            ng-click="nbgenMain.nbgenApp.gotoLogin()"
                            >
                        </md-button>
                        <md-button class="nbgen-big-button"
                            nbgen-label="tx:global.common.signUp"
                            ng-click="nbgenMain.nbgenApp.gotoSignup()"
                            >
                        </md-button>
                    </div>
                    <p>&nbsp;</p>
                    <nbgen-social-signin></nbgen-social-signin>
                    <p>&nbsp;</p>
                </div>
            </div>
        </div>
    </div>
    <div layout="column" layout-align="center center" class="tmv-anim" ng-if="nbgenMain.isAuthenticated()">
        <!-- this is what's displayed when authenticated -->
        <div layout="column" class="tmv-box-content">
            <div class="text-padding">
                <div>
                    <div class="slogan1 md-body-1" translate="nbgenMain.labels.slogan1"></div>
                    <div class="slogan2 md-body-2" translate="nbgenMain.labels.slogan2"></div>
                    <p>&nbsp;</p>
                </div>
            </div>
            <div class="text-padding"
                style="background: rgba(0, 0, 0, 0.4); border-radius: 15px;"
                >
                <!-- display contents here visible when user has successfully logged in -->
                <div translate="nbgenMain.labels.mainMessage"></div>
            </div>
        </div>
    </div>
</md-content>
