<div layout="row" layout-align="start center">
    <div class="toolbar-title">
        <span translate="<%=collectionName%>.home.titleDetails"></span>
    </div>
    <span flex></span>
    <nbgen-toolbar-actions flex="none">
        <md-button
            class="tmv-collection-original"
            tmv-label="{{$tmvCollection.$labels.cancelButton || 'global.common.cancel' | translate}}"
            tmv-icon="mdi-close"
            ng-click="$tmvCollection.closeDetailsView()"
            >
        </md-button>
        <md-button
            class="tmv-collection-original"
            ng-hide="$tmvCollection.viewMode === 'view' || $tmvCollection.hideFormSaveAction($tmvCollection.$currentItem)"
            tmv-label="{{$tmvCollection.$labels.saveButton || 'global.common.save' | translate}}"
            tmv-icon="mdi-content-save"
            ng-click="$tmvCollection.saveDetails()"
            ng-disabled="$tmvCollection.saveDisabled(editForm)"
            >
        </md-button>
    </nbgen-toolbar-actions>
</div>
