<div layout="row" layout-align="space-between center">
    <md-button
        class="tmv-collection-original"
        ng-class="{'md-icon-button': $tmvCollection.$tmvUiUtils.$mdMedia('xs')}"
        tmv-label="{{$tmvCollection.$labels.cancelButton || 'global.common.cancel' | translate}}"
        tmv-icon="mdi-close"
        ng-click="$tmvCollection.closeDetailsView()"
        >
    </md-button>
    <md-button
        class="tmv-collection-original"
        ng-hide="$tmvCollection.hideFormSaveAction($tmvCollection.$currentItem)"
        ng-if="$tmvCollection.viewMode != 'view'"
        tmv-label="{{$tmvCollection.$labels.saveButton || 'global.common.save' | translate}}"
        tmv-icon="mdi-content-save"
        ng-class="{'md-icon-button': $tmvCollection.$tmvUiUtils.$mdMedia('xs')}"
        ng-click="$tmvCollection.saveDetails()"
        ng-disabled="$tmvCollection.saveDisabled(editForm)"
        >
    </md-button>
</div>
