<div class="nbgen-password-meter-container"  ng-show="nbgenPasswordMeter.source.score >= 0">
    <div class="ps-meter" layout="row">
        <div flex="25" class="ps-cell">
            <div class="ps-block" ng-class="{'ps-green': nbgenPasswordMeter.source.score >= 1}"></div>
        </div>
        <div flex="25" class="ps-cell">
            <div class="ps-block" ng-class="{'ps-green': nbgenPasswordMeter.source.score >= 2}"></div>
        </div>
        <div flex="25" class="ps-cell">
            <div class="ps-block" ng-class="{'ps-green': nbgenPasswordMeter.source.score >= 3}"></div>
        </div>
        <div flex="25" class="ps-cell">
            <div class="ps-block" ng-class="{'ps-green': nbgenPasswordMeter.source.score >= 4}"></div>
        </div>
    </div>
    <div class="text-center">
        <span class="md-caption text-uppercase text-condensed">
            Password Strength
        </span>
    </div>
    <div ng-show="nbgenPasswordMeter.source.feedback.suggestions.length > 0" class="ps-suggestion md-caption">
        <div>&nbsp;</div>
        <div class="text-emphasis text-uppercase text-padding">
        Password Suggestions:
        </div>
        <ul>
            <li ng-repeat="suggestion in nbgenPasswordMeter.source.feedback.suggestions">
                {{ suggestion }}
            </li>
        </ul>
    </div>
    <div ng-show="nbgenPasswordMeter.source.feedback.warning" class="md-caption text-center tmv-warn-color ps-warning">
        <span>WARNING: {{ nbgenPasswordMeter.source.feedback.warning }}</span>
    </div>
</div>
