<div class="ta-full-expanded" ng-show="$ctrl.showExpanded === true && $ctrl.__isReady === true" layout="row">
</div>
<md-button aria-label="more" class="md-icon-button ta-more-button"
    tmv-icon="{{$ctrl.icon}}" tmv-label="More"
    ng-hide="$ctrl.showExpanded === true || $ctrl.__isReady !== true"
    ng-click="$ctrl.showMenu($event)"
    >
</md-button>
<md-progress-circular md-mode="indeterminae" md-diameter="20px" style="margin-right: 15px;" ng-if="!$ctrl.__isReady">
</md-progress-circular>
