<head>
    <!-- favicons -->
    <link rel="apple-touch-icon" sizes="57x57" href="./asets/icons/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="./asets/icons/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="./asets/icons/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="./asets/icons/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="./asets/icons/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="./asets/icons/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="./asets/icons/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="./asets/icons/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="./asets/icons/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="./asets/icons/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="./asets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="./asets/icons/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="./asets/icons/favicon-16x16.png">
    <link rel="manifest" href="./manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width">
</head>
<!-- this the initial html displayed by app -->
<body layout="column" class="md-body-1">
    <div id="loader-wrapper" class="tmv-loading">
        <div id="loader" class="layout-column layout-align-center-center text-center">
            <div>
                <img width="200" src="./assets/images/application-logo-square.png" />
            </div>
            <div class="tmvSpinner">
                <div class="rect1"></div>
                <div class="rect2"></div>
                <div class="rect3"></div>
                <div class="rect4"></div>
                <div class="rect5"></div>
            </div>
            <span class="md-body-2 text-emphasis" id="_appLoadingText">
                
            </span><br>
        </div>
    </div>
    <nbgen-app>
    </nbgen-app>
    <nbgen-wait-dialog>
    </nbgen-wait-dialog>
    <!--
    <span id="siteseal" style="display: none;">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=CWOgWPxZH8TgCp41jGSU4GqHDFyAINxROOEHbQiZGtTr9rEnToqxuhI8Rejc"></script>
    </span>
    -->
    <!--
    <script type="text/javascript" src="https://cdn.ywxi.net/js/1.js?siteId=5035773" async></script>
    -->
</body>
