<div layout="row" layout-align="start center">
    <div class="toolbar-back"></div>
        <md-button tmv-icon="mdi-close" tmv-label="tx:global.common.cancel"
            ng-click="$tmvCollection._doCancel()" class="md-icon-button">
        </md-button>
    <div class="toolbar-title">
        <span ng-bind-html="$tmvCollection.titleDisplay()"></span>
    </div>
    <span flex></span>
    <div flex="none">
        <nbgen-toolbar-actions>
            <!-- put action buttons here -->
            <md-button
                class="tmv-collection-original"
                ng-hide="$tmvCollection.viewMode === 'view' || $tmvCollection.hideFormSaveAction($tmvCollection.$currentItem)"
                tmv-label="{{$tmvCollection.formSchema.options.labels.saveButton || 'global.common.save' | translate}}"
                tmv-icon="mdi-content-save"
                ng-click="$tmvCollection.saveDetails()"
                ng-disabled="$tmvCollection.saveDisabled()"
                >
            </md-button>
        </nbgen-toolbar-actions>
    </div>
</div>
