$tmv-gutter-width: 10px;
$tmv-form-vertical-space: 0;
$tmv-icon-padding: 36px;
$tmv-radio-top: 6px;
$tmv-radio-bottom: 24px;
$tmv-field-container-min-height: 68px; // special handling for bootstrap classes
$tmv-minimum-height: 280px;

.tmv-form-layout-container {
    overflow-x: hidden;
}

.tmv-form-group {
    > div {
        &.tmv-static, .tmv-static {
            padding-left: $tmv-gutter-width;
            padding-right: $tmv-gutter-width;
            padding-bottom: 6px;
            padding-top: 2px;
        }
        &.tmv-template-container, .tmv-template-container {
            .tmv-template {
                padding-left: $tmv-gutter-width;
                padding-right: $tmv-gutter-width;
                padding-bottom: 6px;
                padding-top: 2px;
            }
        }
        &.tmv-field-container {
            min-height: $tmv-field-container-min-height;
        }
        .tmv-input-date-container {
            position: relative;
            > label {
                position: absolute;
                transform: scale(0.75);
                color: rgba(0, 0, 0, 0.54);
                left: 30px;
                margin-top: -5px;
            }
            md-datepicker {
                > button {
                    padding: 0px;
                    height: 24px;
                    width: 24px;
                    position: absolute;
                    margin-top: 12px;
                    margin-left: 9px;
                }
                > .md-datepicker-input-container {
                    margin-top: 17px;
                    margin-left: 46px;
                }
            }
        }
        md-input-container {
            margin: 10px 0 0;
            padding-left: $tmv-gutter-width;
            padding-right: $tmv-gutter-width;
            label {
                left: $tmv-gutter-width;
            }
            md-icon {
                left: $tmv-gutter-width;
            }
            &:not(.md-dark-theme) md-icon {
                opacity: 0.70;
            }
            &.md-icon-left {
                padding-left: $tmv-gutter-width + $tmv-icon-padding;
                label {
                    left: $tmv-gutter-width + $tmv-icon-padding;
                }
                &.md-input-invalid md-icon:first-of-type {
                    color: rgb(221,44,0)
                }
            }
            &.md-icon-right {
                padding-right: $tmv-gutter-width + $tmv-icon-padding;
                > md-icon:last-of-type {
                    right: $tmv-gutter-width;
                    left: auto;
                }
            }
             > md-radio-group,
            > md-checkbox {
                padding-top: $tmv-radio-top;
                // padding-bottom: $tmv-radio-bottom;
            }
            > md-checkbox ._md-container {
                transform: translateY(-40%);
                left: 4px;
            }
             > .md-input[readonly],
            > .md-input[disabled] {
                // make readonly same style as disabled for consistency with other controls
                background-position: bottom -1px left 0;
                background-size: 4px 1px;
                background-repeat: repeat-x;
                border-bottom-color: transparent;
                color: rgba(0,0,0,0.38);
                background-image: linear-gradient(to right, rgba(0,0,0,0.38) 0%, rgba(0,0,0,0.38) 33%, transparent 0%);
                background-image: -ms-linear-gradient(left, transparent 0%, rgba(0,0,0,0.38) 100%);
            }
            > textarea {
                &[rows="3"],
                &[rows="4"] {
                    height: 98px;
                }
            }
            > .md-input[type="number"] {
                // text-align: right;
            }
        }
    }
    &.no-error-indicator {
        > div {
            &.tmv-field-container {
                min-height: initial;
                md-input-container {
                    > .md-errors-spacer {
                        min-height: 15px;
                    }
                }
            }
        }
    }
}
.tmv-form-group-label {
    text-transform: uppercase;
    padding: $tmv-gutter-width $tmv-gutter-width+5 0;
}

.tmv-field-height {
    min-height: $tmv-field-container-min-height;
}

.tmv-static-container {
    .tmv-field-static {
        // padding-top: 18px !important;
        position: absolute;
        bottom: 24px;
    }
}

.no-vertical-padding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.no-horizontal-padding {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

// change color for disabled
fieldset[disabled] {
    .tmv-form-group {
        md-input-container {
            label:not(.md-no-float) {
                transform: translate3d(0, 6px, 0) scale(0.75);
            }
            .md-input:not([disabled]) {
                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
.tmv-field-set {
    border: 0;
    margin: 0;
    padding-top: $tmv-gutter-width;
    padding-bottom: $tmv-gutter-width;
    padding-left: $tmv-gutter-width / 2;
    padding-right: $tmv-gutter-width / 2;
}
.tmv-tabs-container {
    md-tabs-content-wrapper {
        padding-top: 10px;
    }
}
.tmv-form {
    padding: $tmv-form-vertical-space 0;
}
fieldset.tmv-form-container {
    border: 0;
    margin: 0;
    padding: 0;
    background: transparent;
    .tmv-form-group-label-empty {
        padding: 15px $tmv-gutter-width/2;
    }
    min-width: auto;
}
.tmv-error-container {
    .tmv-error-container-sub {
        .tmv-error-message-text {
            // display: inline-block;
            margin: 10px 20px;
            padding: 10px 20px;
            border-radius: 20px;
            display: none;
            height: 0;
            overflow: hidden;
            /* Set our transitions up. */
            -webkit-transition: height 0.8s;
            -moz-transition: height 0.8s;
            transition: height 0.8s;
            &.open {
                height: auto;
                display: block;
            }
        }
    }
}

.tmv-hide-small-height {
    @media (max-height: $tmv-minimum-height) {
        display: none;
    }
}

// fix for dialog resizing if there's an ngmessages
md-input-container {
    .md-input-messages-animation {
        position: absolute;
        top: 30px;
        // width: 100%;
        // .md-input-message-animation {
        //     opacity: 1;
        //    margin-top: 0;
        // }
    }
    > .ng-touched ~ .md-input-messages-animation > .md-input-message-animation,
    &.md-input-focused .md-input-messages-animation > .md-input-message-animation {
        opacity: 1;
        margin-top: 0;
    }

    > .tmv-error-display-off ~ .md-input-messages-animation > .md-input-message-animation,
    &.tmv-error-display-off  .md-input-messages-animation > .md-input-message-animation {
        opacity: 0;
    }

    .md-char-counter {
        opacity: 0;
    }

    &.md-input-focused .md-char-counter {
        opacity: 1;
    }
}

.tmv-field-container-align {
    min-height: $tmv-field-container-min-height;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    align-content: stretch;
    justify-content: flex-end;
    padding: 0 $tmv-gutter-width 28px $tmv-gutter-width;
    .tmv-template {
        padding: 0 !important;
        width: 100%;
        background-position: bottom -1px left 0;
        background-size: 4px 1px;
        background-repeat: repeat-x;
        border-bottom-color: transparent;
        background-image: linear-gradient(to right, rgba(0, 0, 0, 0.38) 0%, rgba(0, 0, 0, 0.38) 33%, transparent 0%);
        background-image: -ms-linear-gradient(left, transparent 0%, rgba(0, 0, 0, 0.38) 100%);
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        box-sizing: border-box;
        opacity: 0.87;
    }
}

.form-group-border {
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin: 5px 10px;
}

.form-group-border-dark {
    border: 1px solid;
    border-color: rgba(255, 255, 255, 0.35);
    border-radius: 10px;
    margin: 5px 10px;
}

