<div class="full-absolute" layout="column">
    <!-- html content for the state -->
    <md-toolbar layout="row" layout-align="space-between center" md-theme="secondaryToolbar" md-whiteframe="1"
            flex="none" class="tmv-toolbar groupHeader md-accent">
        <div class="toolbar-title">
            <span class="<%=componentName%>.labels.title"></span>
        </div>
        <nbgen-toolbar-actions>
            <md-button ng-class="{'md-icon-button': $ctrl.$tmvUiUtils.$mdMedia('xs')}"
                tmv-icon="mdi-arrow-left" tmv-label="tx:global.common.back"
                ng-click="$ctrl.goBack()">
            </md-button>
        </nbgen-toolbar-actions>
    </md-toolbar>
    <div class="window-scrollable" flex>
        <<%= componentElement %> class="full-absolute"></<%= componentElement %>>
    </div>
</div>
