md-checkbox.nbgen-data-picker-checkbox {
    margin: 0;
    padding: 0;
}

.nbgen-data-picker {
    md-list-item {
        .md-list-item-inner {
            padding-left: 5px;
            padding-right: 5px;
        }
    }
}
