<style>
    md-dialog.dtp {
    }

    .dtp > .dtp-content > .dtp-date-view > header.dtp-header {
        background: {{c('primary')}};
        color: {{c('primary-contrast')}};
    }

    .dtp div.dtp-date, .dtp div.dtp-time {
        background: {{c('primary')}};
        color: {{c('primary-contrast')}};
    }

    .dtp div.dtp-actual-year, .dtp div.dtp-year-btn {
        color: {{c('accent')}};
    }

    .dtp table.dtp-picker-days tr > td > span.dtp-select-day {
        color: #BDBDBD !important;
    }

    .dtp table.dtp-picker-days tr > td > .dtp-select-day, .dtp .dtp-picker-time > a {
        color: {{c('foreground-1')}}
    }

    .dtp table.dtp-picker-days tr > td > a.selected {
        background: {{c('accent')}};
        color: {{c('accent-contrast')}};
    }

    .dtp table.dtp-picker-days tr > td > a:hover:not(.selected) {
        background: {{c('background-hue-3')}};
    }

    .dtp table.dtp-picker-days tr > th {
        color: {{c('foreground-2')}};
    }

    .dtp a.dtp-meridien-am, .dtp a.dtp-meridien-pm {
        color: {{c('foreground-1')}};
        background: {{c('background-hue-3')}};
    }

    .dtp .dtp-actual-meridien a.selected, .dtp .dtp-picker-time > a.dtp-select-hour.selected {
        background: {{c('accent')}};
        color: {{c('accent-contrast')}};
    }

    .dtp .dtp-picker-time > a.dtp-select-hour.disabled, .dtp .dtp-picker-time > a.dtp-select-minute.disabled {
        color: {{c('foreground-3')}};
    }

    .dtp .dtp-picker-time > a.dtp-select-minute.selected {
        background: #8BC34A;
        color: #fff;
    }

    .dtp div.dtp-picker-clock {
        background: {{c('background-hue-2')}};
    }

    .dtp-clock-center {
        background: {{c('primary')}};
    }

    .dtp .dtp-hand, .dtp .dtp-hour-hand {
        background: {{c('primary-hue-2')}};
    }

    .dtp .dtp-hand.on {
        background: {{c('accent')}};
    }

    .dtp .time-display {
        color: {{c('primary-contrast')}};

    }

    .dtp .time-display.active {
        color: {{c('accent')}};
    }
</style>
