<md-divider></md-divider>
<div>&nbsp;</div>
<div class="text-center">
    <div class="md-caption"><span translate="global.login.loginUsing"></span></div>
    <div>
        <nbgen-social-signin-alt></nbgen-social-signin-alt>
    </div>
</div>
<p>&nbsp;</p>