<div class="window-maximize" layout="column">
    <div nbgen-template="$tmvCollection.$headingViewTemplate"
         flex="none">
    </div>
    <div ng-if="$tmvCollection.options.customHeadingTemplate"
        nbgen-template="$tmvCollection.options.customHeadingTemplate">
    </div>
    <md-content class="window-maximize" flex>
        <div class="full-absolute fade-anim" ng-hide="$tmvCollection.showDetails" layout="column">
            <div ng-if="$tmvCollection.options.preListTemplate" flex="none"
                nbgen-template="$tmvCollection.options.preListTemplate">
            </div>
            <div layout="row" layout-align="center center" layout-padding
                ng-if="$tmvCollection.$collectionCount == 0" flex="none">
                <span translate="global.common.noData" md-colors="{color: 'warn'}"></span>
            </div>
            <tmv-list
                index-at="$tmvCollection.indexAt(index)"
                item-count="$tmvCollection.itemCount()"
                tmv-layout="$tmvCollection.layout"
                search-text="$tmvCollection.searchText"
                on-click="$tmvCollection.itemSelected($event, item, index)"
                on-edit="$tmvCollection.editSelected($event, item, index)"
                on-delete="$tmvCollection.confirmDelete($event, item)"
                hide-edit="$tmvCollection.hideEdit(item)"
                hide-delete="$tmvCollection.hideDelete(item)"
                hide-action="$tmvCollection.hideAction(item)"
                initials="$tmvCollection.getInitials"
                delete-label="$tmvCollection.$labels.deleteLabel"
                edit-label="$tmvCollection.$labels.editLabel"
                >
            </tmv-list>
            <div ng-if="$tmvCollection.options.postListTemplate"
                nbgen-template="$tmvCollection.options.postListTemplate">
            </div>
        </div>
        <form name="editForm" novalidate="" class="full-absolute fade-anim" ng-show="$tmvCollection.showDetails">
            <div class="window-maximize">
                <div ng-if="$tmvCollection.options.preFormTemplate"
                    nbgen-template="$tmvCollection.options.preFormTemplate">
                </div>
                <div>&nbsp;</div>
                <fieldset ng-disabled="$tmvCollection.viewMode == 'view'" class="tmv-form-container">
                    <tmv-form
                        form-schema="$tmvCollection.formSchema"
                        form-model="$tmvCollection.$currentItem"
                        read-only="$tmvCollection.viewMode == 'view'"
                        >
                    </tmv-form>
                </fieldset>
                <div>&nbsp;</div>
                <div ng-if="$tmvCollection.options.postFormTemplate"
                    nbgen-template="$tmvCollection.options.postFormTemplate">
                </div>
            </div>
        </form>
    </md-content>
</div>
