<md-virtual-repeat-container class="tmv-repeat-collection" layout="column" flex md-auto-shrink>
    <md-list flex layout="column" class="tmv-data-list scrollable">
        <md-list-item ng-class="tmvList.lineClass" md-virtual-repeat="item in tmvList.$items"
                      md-on-demand aria-label="{{item.ariaLabel}}"
                      md-item-size="88"
                      ng-click="tmvList._tmvClick($event, item, $index)">
            <!-- avatar/image here -->
            <div ng-if="item && tmvList.layout.displayAvatar !== false"
                 class="md-avatar" ng-style="tmvList._pickRandomStyle($index)">
                <span ng-bind-html="tmvList.initials(item)"></span>
            </div>
            <div ng-if="item" class="md-list-item-text" layout="column">
                <div layout="row" layout-align="space-between center">
                    <div layout="column" flex>
                        <div layout="row" layout-align="space-between center" flex>
                            <span class="ellipsis tmv-data-list-h1 tmv-data-list-fld0 md-body-2 text-emphasis" tmv-color="primary"
                                  ng-class="tmvList.layout.fields[0].cssClass"
                                  ng-bind-html="tmvList.getFieldText(0, item)">
                            </span>
                            <span class="ellipsis tmv-data-list-h2 tmv-data-list-fld1 md-caption md-body-2 text-emphasis" tmv-color="primary-hue-1"
                                  ng-class="tmvList.layout.fields[1].cssClass"
                                  ng-bind-html="tmvList.getFieldText(1, item)">
                            </span>
                        </div>
                        <div layout="row" layout-align="space-between center" flex>
                            <div layout="column" flex>
                                <div layout="row" layout-align="space-between center" flex
                                     >
                                    <span class="ellipsis tmv-data-list-h3 tmv-data-list-fld2 md-body-1"
                                          ng-class="tmvList.layout.fields[2].cssClass"
                                          ng-bind-html="tmvList.getFieldText(2, item)">
                                    </span>
                                    <span class="ellipsis tmv-data-list-h4 tmv-data-list-fld3 md-body-1"
                                          ng-class="tmvList.layout.fields[3].cssClass"
                                          ng-bind-html="tmvList.getFieldText(3, item)">
                                    </span>
                                </div>
                                <div layout="row" layout-align="space-between center" flex
                                     >
                                    <span class="ellipsis tmv-data-list-h3 tmv-data-list-fld4 md-body-1"
                                          ng-class="tmvList.layout.fields[4].cssClass"
                                          ng-bind-html="tmvList.getFieldText(4, item)">
                                    </span>
                                    <span class="ellipsis tmv-data-list-h4 tmv-data-list-fld5 md-body-1"
                                          ng-class="tmvList.layout.fields[5].cssClass"
                                          ng-bind-html="tmvList.getFieldText(5, item)">
                                    </span>
                                </div>
                            </div>
                            <div ng-if="!tmvList.hideAction({item: item})" layout="row" class="tmv-data-list-action"
                                 layout-align="start center">
                                <md-button ng-if="!tmvList.hideEdit({item: item})" class="md-icon-button" tmv-icon="mdi-pencil"
                                    tmv-label="{{tmvList.editLabel || 'global.common.edit' | translate}}"
                                    ng-click="tmvList.onEdit({event: $event, item: item, index: $index})">
                                </md-button>
                                <md-button ng-if="!tmvList.hideDelete({item: item})" class="md-icon-button" tmv-icon="mdi-delete"
                                    tmv-label="{{tmvList.deleteLabel || 'global.common.delete' | translate}}"
                                    ng-click="tmvList.onDelete({event: $event, item: item, index: $index})">
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- display progress bar if item is not ready yet -->
            <!--
            <div ng-if="!item" layout="row" flex layout-align="center center">
                <md-progress-circular md-mode="indeterminate" md-diameter="40"></md-progress-circular>
            </div>
            -->
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
</md-virtual-repeat-container>
