nbgen-social-signin {
    button {
        // min-height: 50px !important;
        // border: 2px solid rgba(255, 255, 255, 0.9) !important;
        // border-radius: 10px !important;
        // font-size: 110% !important;
        // margin: 10 15px !important;
        opacity: 0.9;
        &:hover {
            opacity: 1;
        }

        &.facebook {
            background-color: #3B5998 !important;
        }

        &.google {
            background-color: #d62d20 !important;
        }

        &.twitter {
            background-color: #00aced !important;
        }
    }

}

nbgen-social-signin-alt {
    button.facebook > md-icon {
        color: #3B5998 !important;
    }

    button.google > md-icon {
        color: #d62d20 !important;
    }

    button.twitter > md-icon {
        color: #00aced !important;
    }
}
