nbgen-social-signin {
    button {
        min-height: 50px !important;
        border: 2px solid rgba(255, 255, 255, 0.9) !important;
        border-radius: 15px !important;
        font-size: 110% !important;

        &.facebook {
            background-color: #3B5998 !important;
        }

        &.google {
            background-color: #d62d20 !important;
        }

        &.twitter {
            background-color: #00aced !important;
        }
    }

}
